<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail 2 SMS</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
</head>

<body>
        <h1>NOTIFY INBOX<br/> YOUR EMAIL YOUR CONTROL</h1>
        <form id="googleform" action="/oauth/authorize">
            <img src="logo-removebg-preview.png" alt="logo" />
            <button id="continue" type="submit">Continue with GOOGLE</button>
        </form>
</body>

</html>
