<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail 2 SMS</title>
    <link rel="stylesheet" href="C:\Users\krish\Music\page2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Notify Inbox</h1>
    <p>Your email, under your control.</p>
    <form  id="googleform" action="/oauth/authorize">
        <img src="logo.jpg" alt="logo" />
        <button  id="continue" type="submit">Continue with Google</button>
    </form>
</body>

</html>
